@import "tailwindcss";


.header-button a:hover{
    color:#49AF45 !important;
}

.header-button a:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:#fff;
    z-index: -1;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.5s;
}

.header-button a:hover:before{
    transform: scale(1);
}

.header-button i{
    transition: 0.5s;
}

.header-button a:hover i{
    color:#49AF45 !important;
}
